#section_featured article {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

#section_featured .category {
  margin-block-start: 0;
  padding-block-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-bottom: 2px solid currentColor;
  line-height: 1;
}

#section_featured .article_title {
  margin-top: -1rem;
}

#section_featured .article_image img {
  border-radius: 0;
}

#section_featured footer {
  display: none;
}

@media (min-width:768px) {

  #section_featured article {

  }
}

@media (min-width: 1440px) {
  #section_featured {
    float: left;
    width: 52.5%;
  }
  #section_featured .article_card {
    padding-inline-start: 10rem;
    padding-inline-end: 10rem;
    padding-block-start: 12rem;
    padding-block-end: 8.4rem;
  }
/*
  #section_featured .rticle_header {
    padding-block-start: 4rem;
  } */
}
