#section_featured article {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

#section_featured .category {
  margin-block-start: 0;
  padding-block-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-bottom: 2px solid currentColor;
  line-height: 1;
}

#section_featured .article_title {
  margin-top: -1rem;
}

#section_featured .article_image img {
  border-radius: 0;
}

#section_featured footer {
  display: none;
}

@media (min-width:768px) {

  #section_featured article {

  }
}

@media (min-width:1024px) {
  #section_featured {
    display: inline-grid;
    grid-template-columns: repeat(1, 840px);
    grid-template-rows: repeat(1, 1px);
  }
  #section_featured .category,
  #section_featured header,
  #section_featured article {

  }

}
